/*  Hi! your going to write styles here in the next couple activities. */
.Header{
    height: 250px;
    max-height: 500px;
background-image: url(../images/upsBackground.png);
background-size: cover;
background-repeat: no-repeat;
background-position: bottom;
}
#PageTopic{
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}
.colorContainer{
    display: inline-block;
    margin: 15px;
    

}
.swatch{
    height: 200px;
    width: 170px;
    border: 1px solid black;

}
.hexCode{
    padding: 15px;
    text-align: center;
    border: 1px solid black;
    border-top: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

}

.type_container
.darkBlue{
    background-color: #333366;
}
.darkGrey{
    background-color: #545454;

}
.lightGrey{
    background-color: #e3e3e3;
}
.white{
    background-color: #ffffff;
}
.lightBlue{
    background-color: #12a0f6;
}
.red{
    background-color: #f84848;
}

